div {
    width: 100px;
    height: 100px;
    background-color: crimson;
    text-align: center;
    /* 투명도 조절 */
    opacity: 0.5; 
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin: 0 auto;
}