body {
    height: 10000px;
}

div {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-top: 5px;
    text-align: center;
}
.parent {
    background-color: crimson;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 20px;
}

.relative {
    position: relative;
}